.fileExplorer {
  padding: 20px 40px;
  min-height: calc(100vh - var(--header-height) - 40px);
}

.folderList {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 10px 40px 10px;
}