.page-body {
    min-height: calc(100vh - var(--header-height) - 40px);
    margin-top: var(--header-height);
    padding: 20px;
    height: 100%;
    position: relative;
}

.full-page {
    width: calc(100vw - 40px);
    height: calc(100vh - 40px);
    padding: 20px;
}

.folder {
    width: 60px;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    cursor: pointer;
}

.folder img {
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
}

.folder .folder-name {
    font-size: 12px;
    text-align: center;
    text-shadow: 0 0 4px black;
}